@import "_variables";
@import "_mixins";
@import "_reset";

* {
  box-sizing: border-box;
}

body {
  font-family: "Union-Regular",Helvetica Neue,Helvetica,Arial,sans-serif;

  header{
    width: 100vw;
    height: 48px;
 
    .menu{
      width: 100%;
      height: $h;
      @include menu_flex();

      .menu_list{
        display: none;
      }

      .title{
        width: 180px;
        height: $h;
        padding-top: 17px;
        padding-left: 12px;
        font-weight: 600;
        font-size: 20px;
        cursor: pointer;
        &:hover{
          background-color: $bg;
          color: white;
        }
      }

      .side_menu{
        @include menu_flex();
        width: 70%;
        height: $h;
        cursor: pointer;
        &:hover{
          background-color: $bg;
          div{
            color: white;
          }
        }


        div{
          font-size: 25px;
          font-weight: 600;
          padding-right: 20px;
          color: $bg;
        }
      }
      .side_menu2{
        @include menu_flex();
        width: 30%;
        height: $h;
      }
    }
  }
}


