@import "_variables";
@import "_mixins";
@import "_reset";

* {
  box-sizing: border-box;
}

body {
  font-family: "Union-Regular",Helvetica Neue,Helvetica,Arial,sans-serif;

  header{
    width: 100vw;
    height: 48px;
 
    .menu{
      width: 100%;
      height: $h;
      @include menu_flex();
      
      .main_menu{
        width: 60%;
        height: 100%;
        @include menu_flex();
        cursor: pointer;
        &:hover{
          background-color: $bg;

          div{
            color: white;
          }
          div:first-child{
            color: black;
          }
        }
      
        &:not(:first-child):hover div{
          color: black;
        }

        & div:first-child{
          color: black;

          &:hover{
            color: white!important;
          }
        }
        

        

        

        div{
          height: 100%;
          font-size: 25px;
          font-weight: 600;
          padding-right: 20px;
          color: $bg;
          line-height: 50px;

        }

        

      }

      .menu_list{
        display: none;
      }

      .side_menu2{
        @include menu_flex();
        width: 40%;
        height: $h;
      }
    }
  }
}


